# Performing a Significance Test 

A significance test has five steps 

 . Step1: Assumptions 
 
 . Step2: Hypotheses 
 
 . Step3: Test Statistics 
 
 . Step4: P-value
 
 . Step5: Conclusion

## Step1: Assumptions 
 
 1. Sample is selected random 
 
 2. Observations are independent 
 
 3. Populations $\sigma$ is known or 30-observations sample

## Step2: Hypotheses 

 . The null hypothesis ($H_0$) is a statement that the parameter takes a particular value.
 
 . The alternative hypothesis ($H_a$) states that the parameter falls in some alternative range of values. 
 
 . We assume that $H_0$ is true. From the conclusion of hypothesis testing, we accept $H_0$ or not.

## Step3: Test Statistics 

.  We usually use t-test but sometimes we can use z-test as well.

test statistic $z=\frac{\bar{x}-\mu_{0}}{\sigma/\sqrt{n}}$

test statistic $t=\frac{\bar{x}-\mu_{0}}{s/\sqrt{n}}$

## Step4: P-Value

. The p-value is the probability of obtaining test results at least as extreme as the result actually observed, under the assumption that the null hypothesis is correct.

. Smaller P-values represent stronger evidence against $H_0$.

## Step5: Conclusion 

. Based on p-value , make a decision about $H_0$ (either reject or do not reject $H_0$) if decision is needed.

. Significance level is a number such that we reject $H_0$ if P-value is less than or equal to that number. In practice, the most common significance level is 0.005.

# Type 1 and Type 2 Errors
 . Type 1 error consists of rejecting the null hypothesis $H_0$ when it was true.
 
   Examples: 
   
    - we convict an innocent person.
    
    - we say a fair coin is biased. 
     
  . Type 2 error involves not rejecting $H_0$ when $H_0$ is false. 
  
   Examples: 
  
     - we fail to convict a guilty person.
     
     - we say a biased coin is fair. 
     
  . Type 1 errors are usually considered to be more serious.

# One and Two Tailed Tests

  . One tail test : $z_{\alpha}$
  
  . Two tail test : $z_{\frac{\alpha}{2}}$
  
  . test statistic $z=\frac{\bar{x}-\mu_{0}}{\sigma/\sqrt{n}}$
  
  . If $z>z_{\alpha}$ or $p<\alpha$, then we reject $H_0$.

In [1]:
import numpy as np 
import pandas as pd 
from scipy import stats
import seaborn as sns

# Example 1 

Suppose that a beach is safe to swim if the mean level of lead in the water is 10($\mu0$) parts/ million. 
We $\mu, \sigma=1.5$. Water safety is going to be determined by taking 40 water samples and using the test statistic. Sample mean is 10.5 and $\alpha=0.05$.

In [2]:
xbar = 10.5
sigma = 1.5
n = 40
mu = 10

$H_0 : mu = 10 H_1 : mu > 10$

Test Statistic

In [3]:
z = (xbar - mu) / (sigma/np.sqrt(n))
z

2.1081851067789197

p-value

In [4]:
p = 1- stats.norm.cdf(z)
p

0.017507490509831247

$p<\alpha$ so we reject $H_0$.

In [5]:
#stats.ttest_1samp(a,10,alternative="greater") # we can solve this method

In [6]:
df = sns.load_dataset("mpg")
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [7]:
df[df["origin"]=="usa"].describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
count,249.000000,249.000000,249.000000,245.00000,249.000000,249.000000,249.000000
mean,20.083534,6.248996,245.901606,119.04898,3361.931727,15.033735,75.610442
std,6.402892,1.661425,98.501839,39.89779,794.792506,2.751112,3.677094
min,9.000000,4.000000,85.000000,52.00000,1800.000000,8.000000,70.000000
25%,15.000000,4.000000,151.000000,88.00000,2720.000000,13.000000,73.000000
50%,18.500000,6.000000,250.000000,105.00000,3365.000000,15.000000,76.000000
75%,24.000000,8.000000,318.000000,150.00000,4054.000000,16.900000,79.000000
max,39.000000,8.000000,455.000000,230.00000,5140.000000,22.200000,82.000000

In [8]:
stats.ttest_1samp(df[df["origin"]=="usa"]["horsepower"].dropna(),110,alternative="greater")

Ttest_1sampResult(statistic=3.550044602017898, pvalue=0.00023100358895404322)

In [9]:
stats.ttest_1samp(df[df["origin"]=="usa"]["mpg"].dropna(),22,alternative="less")

Ttest_1sampResult(statistic=-4.723072192881628, pvalue=1.9455026028456406e-06)

In [10]:
stats.ttest_1samp(df[df["origin"]=="usa"]["mpg"].dropna(),22)

Ttest_1sampResult(statistic=-4.723072192881628, pvalue=3.891005205691281e-06)

In [11]:
stats.ttest_1samp(df[df["origin"]=="europe"]["horsepower"].dropna(),100,alternative="greater")

Ttest_1sampResult(statistic=-7.953024725516988, pvalue=0.9999999999853763)

In [12]:
stats.ttest_1samp(df[df["origin"]=="europe"]["horsepower"].dropna(),100)

Ttest_1sampResult(statistic=-7.953024725516988, pvalue=2.92474723426341e-11)

In [13]:
stats.ttest_1samp(df[df["origin"]=="europe"]["weight"].dropna(),3000,alternative="two-sided")

Ttest_1sampResult(statistic=-9.84610838848352, pvalue=8.80766713530181e-15)